<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="<%= theme.favicon %>" type="image/png">
	<title><%- config.title %></title>
  <!-- Bootstrap CSS -->
  <%- css('css/bootstrap.css') %>
  <%- css('vendors/linericon/style.css') %>
  <%- css('css/font-awesome.min.css') %>
  <%- css('vendors/owl-carousel/owl.carousel.min.css') %>
  <%- css('vendors/lightbox/simpleLightbox.css') %>
  <%- css('vendors/nice-select/css/nice-select.css') %>
  <%- css('vendors/animate-css/animate.css') %>
  <%- css('vendors/jquery-ui/jquery-ui.css') %>
  <!-- main css -->
  <%- css('css/style.css') %>
  <%- css('css/responsive.css') %>
</head>
